{% load static %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-success navbar-light">
  <div class="container-fluid px-0 px-lg-0">
    <!-- Brand Logo -->
    <a class="navbar-brand d-flex align-items-center" href="{% url 'store_app:home' %}">
      <img src="{% static 'assets/logo.jpeg' %}" alt="RUM Marketplace Logo" width="50" height="50">
      RUM Marketplace
    </a>

    <!-- Navbar Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
        class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'store_app:home' %}">HOME</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">CATEGORIES</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="#!">All Products</a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li>
              <a class="dropdown-item" href="#!">Popular Items</a>
            </li>
            <li>
              <a class="dropdown-item" href="#!">New Arrivals</a>
            </li>
          </ul>
        </li>
      </ul>
      <!-- Search Bar -->
      <form class="d-flex mx-3" style="flex: 1; max-width: 400px;" action="{% url 'store_app:search' %}" method="GET">
        <input class="form-control me-2" type="search" placeholder="Search products..." aria-label="Search" name="q"
          value="{{ query|default:'' }}">
        <button class="btn btn-outline-primary" type="submit">
          <i class="bi bi-search"></i>
        </button>
      </form>
      <!-- Cart Button -->
      <form class="d-flex me-3">
        <button class="btn btn-primary" type="submit">
          <i class="bi-cart-fill me-1"></i>
          Cart
          <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
        </button>
      </form>

      <!-- Authentication Button -->
      <div class="d-flex">
        <a href="{% url 'store_app:login' %}" class="btn btn-warning">
          <i class="bi bi-box-arrow-in-right me-1"></i>
          Login
        </a>
      </div>
    </div>
  </div>
</nav>